@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: Black;
}

/* Ocultar scrollbar en navegadores como Chrome, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Ocultar scrollbar en Firefox */
* {
  scrollbar-width: none;
}

/* Ocultar scrollbar en IE, Edge */
*::-ms-scrollbar {
  display: none;
}
